<div class="article-card" [ngClass]="getCssClass()">
    <img [src]="article.imageUrl" alt="{{ article.name }}" />
    <div class="description-container">
        <h2 class='article-name'>{{ article.name }}</h2>
        <p *ngIf="article.isOnSale" class="sale-banner">On Stock!</p>
        <div class="quantity-selection">
            <button (click)="increaseQuantity()">+</button>
            <p id="quantity"> {{ article.quantityInCart }}</p>
            <button (click)="decreaseQuantity()"  [disabled]="article.quantityInCart === 0" >-</button>
        </div>
        
    </div>
        <p id="prize">${{ article.price }}</p>
      
   

</div>
  
