
.article-card {
    width:800px;
    min-height:150px;
    padding: 5px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border: .7px solid #F3F3F3;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    background-color: #F3F3F3;
    color:rgb(53, 53, 53);
  }
  
  img {
    max-width: 30%;
    object-fit: contain;
    object-position: center;
    margin-left: 10px;
    align-self: center;
  }


  .on-sale
  {
    color:green;
  }


  .outOfStock{
    color:gray;
  }

 
.description-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-name{
    font-weight: 200;
    font-size: large;
    
}




#quantity
{
  font-size: x-large;
  align-items: center;
  align-self: center;
  color:rgb(53, 53, 53);

}

#prize
{
  font-weight: bold;
  font-size: xx-large;
  align-self: flex-start;
  margin-top: 15px;

}





  
  /* .on-sale {
    background-color: #e6ffe6;
  
  }
  
  .outOfStock {
    background-color: #ffe6e6;

  } */
  
  .sale-banner {
    color: #2ecc71;
    font-weight: bold;
  }
  
 
  .quantity-selection{
    margin-block-start: 20px;
    display:flex;
    gap:15px;

  }

  button{
    width:35px;
    height:auto;
    font-size:larger ;
  }

 

  .toggle-btn{
    width:fit-content;
    padding: 5px;
    margin-block-start: 20px;
    font-size: medium;
  }

  .hidden{
    display:none;
  }