<div class="article-card">
    <img [src]="article.imageUrl" alt="{{ article.name }}" />
    <div class="description-container">
        <h2 class='article-name'>{{ article.name }}</h2>
        <p [ngClass]="getCssClass()">{{ article.isOnSale ? 'On Stock!' : 'Out of Stock' }}</p>
        <div *ngIf="article.isOnSale" class="quantity-selection">
           

            <button 
                class="w-11 h-11 bg-neutral-700 rounded-md flex items-center justify-center cursor-pointer transition-all duration-500"
                (click)="increase()">
                <span class="text-white">+</span>
            </button>

            <p id="quantity"> {{ article.quantityInCart }}</p>
            <button 
                class="w-11 h-11 rounded-md flex items-center justify-center cursor-pointer transition-all duration-500"
                (click)="decrease()" 
                [disabled]="article.quantityInCart === 0" 
                [ngClass]="{
                    'bg-neutral-700': article.quantityInCart !== 0,   
                    'bg-gray-300': article.quantityInCart === 0,     
                    'cursor-not-allowed': article.quantityInCart === 0 
                }">
                <span [ngClass]="{
                    'text-white':article.quantityInCart !== 0,
                    'text-slate-400':article.quantityInCart == 0
                }">-</span>
            </button>
        </div>
    </div>
    
    <div class="price-container">
        <p id="price" [ngClass]="getCssClass()">${{ article.price }}</p>
        <button class="toggle-btn" (click)="article.isOnSale=!article.isOnSale">Toggle</button>
    </div>
    
</div>



  
