<div class="article-card">
    <img [src]="article.imageUrl" alt="{{ article.name }}" />
    <div class="description-container">
        <h2 class='article-name'>{{ article.name }}</h2>
        <p [ngClass]="getCssClass()">{{ article.isOnSale ? 'On Stock!' : 'Out of Stock' }}</p>
        <div *ngIf="article.isOnSale" class="quantity-selection">
            <button (click)="increase()">+</button>
            <p id="quantity"> {{ article.quantityInCart }}</p>
            <button (click)="decrease()"  [disabled]="article.quantityInCart === 0" >-</button>
        </div>
    </div>
    
    <div class="price-container">
        <p id="price" [ngClass]="getCssClass()">${{ article.price }}</p>
        <button class="toggle-btn" (click)="article.isOnSale=!article.isOnSale">Toggle</button>
    </div>
    
</div>



  
